 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-image:URL('http://solesofmyboots.files.wordpress.com/2011/11/crowd1.jpg');

}

.buttons{
  button{
  color:HSLA(33, 100%, 37%, 1);
  border-radius:8px;
  float:right;
  margin-right:8px;
  margin-top:8px;
  }
}

.bar {
  width: 50%;
  margin-top:170px;
  margin-left:140px;
  height: 30px;
  border: 1px solid #2980b9;
  border-radius: 3px;
  background-image:
  repeating-linear-gradient(
  -45deg,
  #2980b9,
  #2980b9 11px,
  #eee 10px,
  #eee 20px /* determines size */
  );
  background-size: 28px 28px;
  animation: move .5s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}

.hero-unit {
  margin: 20px auto 0 auto;
  width: 1400px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  border-radius: 6px;
  @include outer-container;
  $mobile: new-breakpoint(max-width 500px 4);


  .header{
    border-bottom:solid;
    border-radius:5px;
    padding:10px;
    clear:both;
    height:90px;
    width:100%;
    clear:both;


    h1 {
      margin-top:-5px;
      display:inline-block;
      font-size: 55px;
      line-height: 1;
      letter-spacing: -1px;
      color:HSLA(33, 100%, 45%, 1);
      float:left;
      font-family: 'Lobster', cursive;
    }
    .headermusicnote{
      margin-top:-7px;
      height:50px;
      float:left;
    }

  }

.landcontainer{

    .landtext{
      margin-top:150px;
      font-size:100px;
      color:HSLA(33, 100%, 45%, 1);
      display:inline;
      float:left;
      font-family: 'Lobster', cursive;
    }

    .subhead{
      color:HSLA(33, 100%, 37%, 1);
      clear:both;
      font-size:30px;
      margin-top:15px;
      margin-left:10px;
      font-family: 'Roboto', sans-serif;
    }

    .musicnote{
      height:80px;
      float:left;
      margin-top:120px;
      margin-left:5px;
    }

    .landbuttons{


      #login{
        display:inline-block;
        float:left;
        clear:both;
        height:50px;
        width:150px;
        border-radius:8px;
        color:HSLA(33, 100%, 37%, 1);
      }
      #signup{

        display:inline-block;
        float:left;
        height:50px;
        width:150px;
        margin-left:25px;
        border-radius:8px;
        color:HSLA(33, 100%, 37%, 1);
      }
    }

  }

.loginbox{
/*   background-color:HSLA(240, 100%, 25%, .4);
 */  margin:25px;
/*   border:solid; */
  border-color:HSLA(33, 100%, 37%, 1);
  border-radius:10px;
  display:inline-block;
  padding:45px;

  .logintext{
    font-family: 'Roboto', sans-serif;
  }

  #username{
    width:400px;
    height:40px;
    border-radius:8px;
  }

  #password{
    margin-top:15px;
    width:400px;
    height:40px;
    border-radius:8px;
  }

  button{
    border-radius:8px;
    margin-top:15px;
    width:100px;
    color:HSLA(33, 100%, 37%, 1);
  }


  }

.personinfo{
  border:solid;
  margin-top:50px;
}
.persontext{
  border:solid;
  display:inline-block;
}

.userPic{
  height:300px;
  width:300px;
  border: solid;
}


  .usersnearyou{
    color:HSLA(33, 100%, 37%, 1);
    display:inline;
    float:left;
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    font-weight:bold;
    margin-bottom:9px;
  }

  .jamsnearyou{
    color:HSLA(33, 100%, 37%, 1);;
    display:inline;
    float:left;
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    font-weight:bold;
    margin-left:320px;
    margin-bottom:9px;
  }

  .jampicbig{
    height:25%;
    width:25%;
    float:left;
    margin-right: 25px;
  }




  #map-canvas{
    border:solid;
    border-radius:8px;
    border-color:gray;
    clear:both;
    @include span-columns(6);
    @include media($mobile) {
      @include span-columns(3);
    }
    height: 500px;
    width:560px;
    display: block;
    float:left;
  }

  #separateDiv{
    margin-left:20px;
    float:right;
    border:solid;
    border-color:gray;
    border-radius:8px;
    height:500px;
    overflow:scroll;
    @include span-columns(6);
    @include media($mobile) {
      @include span-columns(3);
    }

    li{
      font-color:HSLA(33, 100%, 37%, 1);
      margin-left:10%;
      list-style-type:none;
    }
  }
}

.hide{
  display:none;
}



.createjamform{
  background-color:white;
  width: 35%;
  border-radius: 8px;
  opacity: .9;
  padding-left: 15px;
  padding-right: 15px;

}


#submitLocation{
  float:left;
  clear:both;
  margin:25px;
}

.soundcloud{
  height:75px;
  width: 150px;
  margin-left:40px;
  margin-top:25px;
}



.jam{

  padding:5px;
  .jamtitle{
    font-size:20px;
  }
  .jamtitle{
    color:HSLA(33, 100%, 37%, 1);
  }

  .jampic{
    height:125px;
    width:125px;
    float:left;
    padding:5px;
  }

}

.contact{
  border-radius:8px;
  clear:both;
  float:right;
  margin-right:230px;
  margin-top:50px;
}

.jumbo{
  font-size: 40px;
}
